@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/* ---------search bar --------- */
.search-bar{
    width: 90%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    color: #fff;
    width: 45px;
    height: 45px;
}

.search-bar form button img{
    width: 15px;
    margin-top:7px;
}

/* -------end of search bar */


/* -------Apartment Details */
.apartment-details{
    padding:0 8%; 
}
.apartment-title{
    margin-top:50px;
}
.apartment-title h2{
    font-weight: 600;
}

